body{
    background-color: rgb(18, 66, 102);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div{
    
    width:200px
    
    
}
button{
    margin-bottom: 200px;
    padding:5px 10px;
    color:cornsilk;
    background-color: crimson;
    border:none;
    border-radius: 30px;
    width:50px;
    height: 50px;
    
}
li{
    padding-bottom: 0;
    padding-top:0;
    list-style: none;
    border-bottom: solid burlywood 1px;
    color:crimson;
    font-weight: 600;
    transform-origin: left;
    /* transform:rotate(30deg); */
    opacity: 0;
    
}
ul{
    position:absolute;
    bottom:600px;
    
}
.home{
  
    transition: all 0.4s ease;
}
.service{

    transition: all 0.7s ease;
}
.about{

    transition: all 0.6s ease;
}
.contant{
    transition: all 1.2s ease;
}
.log{
    transition: all 1s ease;
}